{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"><a href="{{ url('user.update_profile', {id: result.id}) }}" class="btn btn-sm btn-secondary">Modifier le Profile</a></div>
    </div>
    <div class="row">
         <div class="col-sm-4">
             <img src="{{ asset('img/' ~ result.image)}}" alt="" class="img-fluid">
         </div>
        <div class="col"> 
            {#{ dump(result) }#}
            <h3>{{ result.firstname |default('undefined') ~ ' ' ~ result.lastname|default('undefined') }}</h3>
            <h5>{{ result.pseudo|default('undefined') }}</h5>
             <h5>{{ result.age|default('undefined') }}</h5>
              <text>{{ result.description }}<text>
        </div>
    </div>
{% endblock %}
